@charset "utf-8";
/* CSS Document */

body 
{
    background-color: black;
	text-align: center;
	color: white;
}

#logo 
{
	margin-left: auto;
    margin-right: auto;
    width: 50%;
	content:url('./../../images/launcher/lol_logo.png');
}
#launcher
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    content: url('./../../images/launcher/launch_normal.png');
}

#launcher:hover
{
    content: url('./../../images/launcher/launch_hover.png');
}

#cinematic_video
{
    height: 100%;
}
#intro_video
{
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}