body{
    background-color: black;
	color: white;
}
h1
{
    color: #cfba6b;
    text-transform: uppercase;
    font-size: 1.0em;
    font-weight: bold;
    margin: 0px;
}
h2
{
    color: #cfba6b;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}
#sona_video{
    width: 100%;
    height: 100%;
}
a
{
    color: #cfba6b;
    text-transform: uppercase;
}
a:hover
{
    color:#FFF;
}
h1 a
{
    color: #cfba6b;
    text-transform: uppercase;
}
h1 a:hover
{
    color:#FFF;
    font-weight: bold;
}
ul
{
    margin-top:10px;
    margin-bottom: 10px;
}
section
{
    border-top-color: white;
    border-top-style: solid;
    border-top-width: medium;
}
section .title
{
    background-color: #0f2828;
    margin: 0px;
    width: 100%;
    border-bottom-color: #cfba6b;
    border-bottom-style: solid;
    border-bottom-width: thin;
}
section h1
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
section .extend
{
    display: none;
}
.navbar
{
    margin-bottom: 0px;
    background-color: #0f2828;
}
.navbar-header
{
    width: 100%;
}
.border-white
{
    display:inline-block;
    margin: 10px;
    border-color: black;
    border-style: solid;
    border-width:thin;
}
.border-white:hover
{
    border-color: white;
    border-style: solid;
    border-width:thin;
}
#footer
{
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #0f2828;
    color: #cfba6b;
}
section .extend .col-md-10 img
{
    width: 50%;
}